body {
    margin: auto;
    font-family: open sans-serif;
}
.titulo {
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #2A3A8A;
    color: #fff;
}
.portada {
    margin: auto;
    width: 100%;
}
.text-portada {
    position: absolute;
    margin-top: -15%;
    margin-left: 10%;
    color: #fff;
    font-size: 45px;
}
.contenido{
    margin: 0 15% 0 15%;
    text-align: justify;
}
.contenido p{
    line-height: 2;
}
.contenido-2{
    margin: 0 45% 0 15%;
    text-align: justify;
}
.contenido-2 p{
    font-size: 20px;
    line-height: 2;
}
.espaciado{
    margin: 0% 15% 3% 15%;
}
.seccion-sombra{
    background-color: #fff;
    box-shadow: 0px 15px 40px 0px rgba(6, 46, 96, 0.1);
    display: inline-block;
    width: 90%;
}
.seccion {
    width: 33%;
    display: inline-block;
}
.imagen-comprimir{
    width: 100%;
}
.vinculo{
    text-decoration: none;
    color: #000;
}
.espaciado-texto{
    margin: 0 30px 20% 30px;
}
.seccion-icono {
    width: 22%;
    display: inline-block;
    margin-bottom: 5%;
    text-align: center;
}
.imagen-comprimir-2{
    width: 40%;
}
.espaciado-2{
    margin: 0% 5% 0% 10%;
}
.fondo-divisor{
    background-color: #e2e2e2;
    padding: 1px;
}
.text-portada-2 {
    position: absolute;
    margin-top: -15%;
    margin-left: 10%;
    color: #000;
    font-size: 35px;
}
.boton{
    position: absolute;
    margin-top: -5%;
    margin-left: 10%;
    padding: 15px;
    color: #fff;
    background-color: #00539E;
}
.navegacion {
    width: 1000px;
    margin: 30px auto;
    background: white;
    text-align: center;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
position: relative;
display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu > li > a:hover{
    background-color: rgba(12, 10, 121, 0.404);
    color: #0010f7;
    transition: all .3s;
}

/* submenu */

.submenu {
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
iframe{
    margin: auto;
    display: block;
    width: 100%;
}
.info-contactanos{
    text-align: center;
}
.seccion-sombra-2{
    background-color: #fff;
    box-shadow: 0px 15px 40px 0px rgba(6, 46, 96, 0.1);
    display: inline-block;
}